*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{

    height: 844px;
    width: 390px;
    border: 1px solid black;
    margin: auto;
}

header{
    height: 60px;
    background-color: rgb(247, 247, 78);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

header h1{

    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.taking_money a{

    text-decoration: none;
    color: white;
    font-size: 15px;
}

.giving_money a{

    text-decoration: none;
    color: white;
    font-size: 15px;
}

.taking_money{

    padding: 15px;
    width: 180px;
    margin-top: 30px;
    margin-left: 15px;
    background-color: rgb(6, 85, 6);
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.giving_money{

    padding: 15px;
    width: 180px;
    background-color: red;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}