@media only screen and (max-width: 390px) {
    .container {
        width: 100%;
        height: auto;
        overflow: scroll;
        border: none;
         background: rgba(255, 255, 255, 0.15); /* transparent white */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

    }



    .tmoney_box {
        width: 90%;
    }

    .taking_money, .giving_money {
       
       width: 45%;
        font-size: 12px;
    }

    header h1 {
        font-size: 20px;
        width: 87%;
    }
  
    



    .summary{

        font-size: 12px;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        justify-content: stretch;
    }

    .summary span{
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        font-size: 12px;
    }


  





}
