*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{

    height: 844px;
    width: 390px;
    border: 1px solid black;
    margin: auto;
}

header{
    height: 60px;
    background-color: rgb(247, 247, 78);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

header h1{

    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.taking_money a{

    text-decoration: none;
    color: white;
    font-size: 10px;
}

.giving_money a{

    text-decoration: none;
    color: white;
    font-size: 10px;
}

.taking_money{

    padding: 10px;
    width: 190px;
    margin-top: 30px;
    margin-left: 10px;
    
    background-color: rgb(6, 85, 6);
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}

.giving_money{

    padding: 10px;
    width: 180px;
    background-color: red;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.tmoney_box{

    border: 1px solid #ccc;
    height: 420px;
    width: 350px;
    margin: 30px auto;
    border-radius: 10px;

}



.tmoney_heading{

    
    padding: 5px;
    color: rgb(2, 54, 2);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 12px;

}

.tmoney_box button{

   background-color: green;
   padding: 3px;
   border-radius: 5px;
   color: white;
   border: none;
   margin-left: 45px;

    cursor: pointer;
}

.tmoney_tpa, .tmoney_tia, .tmoney_ta{

    font-size: 10px;
    color: black;
    padding: 2px;
    margin-left: 20px;
    font-weight: bold;
    
   
}


